# Virtual Environment
venv/
env/
.venv/
.env/
backend/venv/
/Users/apoorvabhishek/Documents/privacy_chromextension/backend/venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log