SUPABASE_URL=https://pnjiiydmpqthayrghkem.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBuamlpeWRtcHF0aGF5cmdoa2VtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM4NTU3ODQsImV4cCI6MjA1OTQzMTc4NH0.yezopm8e-9bgU8WueoUyVea0UsnDadFs5mNCvVMNBjU